<nav class="d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center">
    <ul id="auth-navbar" class="d-flex justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-bell fa-lg position-relative">
            {% if unread_status_count > 0 %}
              <span class="position-absolute top-0 start-100 translate-middle p-1 badge border border-light bg-danger rounded-circle"> </span>
            {% endif %}
          </i> 
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          {% for notification in latest_notifications%}
          {% if notification.status == 'unread'%}
            <li><a class="dropdown-item" href="{% url 'view_selected_notification' notification.id %}"><strong>{{ notification.title }}</strong></a></li>
          {% else %}
          <li><a class="dropdown-item" href="{% url 'view_selected_notification' notification.id %}">{{ notification.title }}</a></li>
          {% endif%}
          {% endfor%}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'notification_page' %}">See all notifications</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="bi-person-circle fa-lg"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown" id="profile_list">
          <li><a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
        </ul>
      </li>
      <li id="navbar-user-first-name">
          Your Points: &nbsp;<span style="color: rgb(20, 175, 72)">{{request.user.points}}</span>
      </li>
      <li id="navbar-user-first-name">
        {{request.user.first_name}}
      </li>
    </ul>
    
  </div>
</nav>
