<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  </ul>
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li><a href='{% url "home" %}'>Home</a></li>
    <li><a href='{% url "about" %}'>About Us</a></li>
    <li><a href='{% url "news_page" %}'>What's New</a></li>
    <li><a href='{% url "contact" %}'>Contact</a></li>
    <li><a href='{% url "log_in" %}'>Login</a></li>
    <li><a href='{% url "register" %}'>Get Started</a></li>
  </ul>
</div>