
<nav class="navbar  navbar-light bg-light" id="navbar">
  
  <div class="container">
    <!-- If logged in , home button should take me to feed-->
      {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'feed' %}" id="feed-home_text">
          <span>
            <img src="../../static/images/logo2.png" alt="" width="45" height="45" class="d-inline-block align-text-middle">
          </span> Void Money Tracker
        </a>
     {% else %}
    <a class="navbar-brand" href="{% url 'home' %}" id="feed-home_text">
      <span> 
        <img src="../../static/images/logo2.png" alt="" width="45" height="45" class="d-inline-block align-text-middle">
      </span> Void Money Tracker
      </a>
    {% endif %}

    {% if user.is_authenticated %}
      {% include 'partials/feed_menu.html' %}
    {% else %}
      {% include 'partials/home_menu.html' %}
    {% endif %}
  </div>
</nav>