
<nav id="navbar-header" class="navbar  navbar-light bg-light fixed-top d-flex justify-content-center" id="navbar">
  
  <div id="navbar-div-container" class="container" >
    <!-- If logged in , home button should take me to feed-->
      {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'feed' %}" id="feed-home_text">
          <img src="../../static/images/logo2.png" alt="" width="45" height="45" class="d-inline-block align-text-middle">
          <span id="app-name-text">
            Void Money Tracker
          </span> 
        </a>
        {% include 'partials/feed_menu.html' %}
     {% else %}
    <a class="navbar-brand" href="{% url 'home' %}" id="feed-home_text">
      <img src="../../static/images/logo2.png" alt="" width="45" height="45" class="d-inline-block align-text-middle">
      <span> 
        Void Money Tracker
      </span> 
      </a>
      {% include 'partials/home_menu.html' %}
    {% endif %}
  </div> 
</nav>