<div class="row content">
 <div class="col-12">
  <div class="profile-txt">
   <h3 class="profile-title">{{user.first_name}}</h3>
    <p class="profile-email">{{user.email}}</p>
  </div>
 </div>
</div>
<div class="row content">
 <div class="col-12">
  <p class="profile-statistics">
   <span>
    <b>{{user.followee_count}}</b> Following
    &emsp: 
    <b>{{user.follower_count}}</b>Followers
   </span>
   <span class="float-end">
    <button class="btn btn-primary">
     Follow
   </span>
  </p>
 </div>
</div>
