asgiref==3.6.0
beautifulsoup4==4.11.1
coverage==7.0.5
Django==4.1.5
django-bootstrap-v5==1.0.11
django-widget-tweaks==1.4.12
Faker==16.4.0
fontawesomefree==6.2.1
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
typing_extensions==4.4.0
tzdata==2022.7
