
header{
	width:100vw;
	height: 100vh;
	background: url(/static/images/bkg2.jpg);
	background-size: cover;
	background-position: bottom;
	font-family: "Lato", sans-serif;
	display:flex;
	align-items: center;
	justify-content: center;
  }

.header-content{
	/* margin-bottom: 600px; */
	color: whitesmoke;
	text-align: center;
}

.header-content h1{
	font-size: 7vmin;
}

.header-content h3{
	font-size: 2vmin;
}

.line{
	width: 200px;
	height:4px;
	background: #fc036b;
	margin: 10px auto;
	border-radius: 5px;
}

.header-content a{
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 8px 15px;
	background: #fc036b;
	border-radius: 30px;
	color: whitesmoke;
}
  
.header-content a:hover {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 8px 15px;
	background: whitesmoke;
	border-radius: 30px;
	color: #fc036b;
}
  

/* About */
.about{
	padding-top: 5vh;
	width:100vw;
	height: 100vh;
	background-color: white;
}

.about-content{
	height: 50%;
	padding: 50px;
	color: white;
}

.about-content h1{
	text-align: center;
	font-size: 4vmin;
	color: violet;
}
.about-content h4 {
	font-size: 3vmin;
	color: blueviolet;
	margin: 20px auto;
}

.about-content p{
	color:gray;
	font-size: 20px;
	padding: 0px 40px;
}

.about-content .row{
	margin-top: 150px;
	align-items: center;
}

.about-content .about-img{
	border-radius: 10%;
	width: 75%;
	height: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Contact */

.contact{
	padding-top: 5vh;
	width:100vw;
	height: 100vh;
	background-color: white;
}

.contact-content{
	height: 50%;
	padding: 50px;
	color: white;
}

.contact-content h1{
	text-align: center;
	font-size: 4vmin;
	color: violet;
}


.contact-content h4 {
	text-align: center;
	font-size: 3vmin;
	color: blueviolet;
	margin: 20px auto;
}

.contact-content p{
	text-align: center;
	color:gray;
	font-size: 20px;
	width: 30vw;
	margin: 20px auto;
}

.contact-content .about-img{
	border-radius: 10%;
	width: 50%;
	height: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.contact-content .contact-end{
	margin-top: 15vh;
}
/* News */

.news{
	background: url(/static/images/bkg3.jpg);
	background-size: cover;
	background-position: bottom;
	padding-top: 5vh;
	height: 100vh;
	width:100vw;
	
}

.news-content{
	height: 50%;
	padding: 50px;
	color: whitesmoke;
}

.news-content h1{
	text-align: center;
	font-size: 4vmin;
	color: white
}

.news-area{
	margin-top: 2vh;
	min-height: 80%;
  	display: flex;
	
}

.news-area .container {
	max-width: 100%;
  	width: 100%;
  	padding: 40px 0;
}

.news-area .slide-container {
	margin: 0 30px;
  	overflow: hidden;
}



.news-area .swiper-button-next{
	right: 0px;
}
.news-area .swiper-button-prev{
	left: 0px;
}

.swiper {
	width: 100%;
	height: 75vh;
  }

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	margin-left: auto;
	margin-right: auto;
}


.news-area .news-card {
	border-radius: 8px;
	text-align: center;
	opacity: 0.9;
	height: 65vh;
	padding: 40px 40px;
	background-color: white;
	align-items: center;
}

.news-card .source{
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
	left: 25%;
	
}

.news-card .news-title{
	margin-top: 30px;
	font: 20px;
	color: black;
	margin-bottom: 30px;
}
.news-card .news-source{
	color: black;
	margin-top: 30px;
}
