/* Register and Login css  */

.signing{
    height:100%;
    margin-top: 3vh;
    background: url(/static/images/bkg2.jpg);
	background-size: cover;
	background-position: bottom;
}

.signing .container{
    padding: 5%;
    height: 100%;

}

.signing .message{
    margin-top: 200px;
}

.signing .row{
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.signing .card{
    
    border-radius: 1rem;   
    margin-bottom: 20vh;
    
}

.signing .card-body{
    text-align: center;
    padding: 5%;
}

.signing h2{
    text-transform: uppercase;
    margin-bottom: 4px;
    font-weight: bold;
}

.signing p{
    color: gray;
    font-weight: bold;
}