@import "sidebar.css";
@import "navbar.css";
@import "treeview.css";
@import "newspage.css";

:root {
  --color-default: #03045e;
  --color-dark: #02033e;
  --color-second: #0067ac;
  --color-white: #ffffff;
  --color-body: #e4e9f7;
  --color-light: #caf0f8;
}

body {
  background-image: radial-gradient(
    circle,
    hsl(220, 57%, 91%),
    hsl(220, 55%, 96%)
  );
  padding: 20px;
  height: 100vh;
  min-height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: "Lato", sans-serif;
  color: var(--color-dark);
}

h3 {
  margin-top: 15px;
}
#toggle_notification {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 5px 13px;
}

#hide-transaction-div {
  display: flex;
  justify-content: right;
}

#create-transaction-div {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

/* transaction list hover*/
.nested .transaction_list {
  padding: 10px 0;
  text-align: center;
  transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
  -webkit-transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
  -moz-transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
  -o-transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
  -ms-transition: margin-left 0.3s linear, font-weight 0.2s linear,
    color 0.3s linear;
}

.nested .transaction_list:hover {
  margin-left: 20px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-second);
}

/*============================================================*/
/* Cards */
.card {
  top: 10%;
  text-align: center;
  opacity: 0.9;
  height: auto;
  width: 70%;
  margin: auto;
  padding: 40px 40px;
  position: relative;
}

.card h1 {
  text-align: center;
  font-size: 38px;
  padding: 10px 25px;
  margin-bottom: 20px;
}

.card p {
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 900;
  margin: auto;
}

/*============================================================*/
/* After Authentication Card */
.main-card {
  /* text-align: center; */
  opacity: 0.9;
  height: auto;
  padding: 40px 40px 40px 40px;
  position: relative;
  background-color: white;
  right: 0%;
  margin-right: 30px;
  margin-left: 30px;
  list-style: none;
}

.main-card h1 {
  text-align: left;
  font-size: 38px;
  padding: 10px 25px;
}

.main-card form {
  padding: 40px 40px;
  width: 75%;
}

.btn,
.btn-info {
  background-color: var(--color-default);
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 5px rgba(32, 78, 119, 0.899);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

/*============================================================*/
/*Income Page*/
#add-transaction-btn {
  display: flex;
  justify-content: right;
}
/*============================================*/
/* Spending Category*/
#spending-categories-detail-div,
#total-transaction,
.transaction_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#category-name-tag {
  float: left;
}

.category_list {
  margin-top: 5px;
}
/*================================*/

/*Delete Category*/ 
#category-delete-btn {
  display: grid;
  justify-content: center;
}

/*Reports*/
#bar-chart-container {
  margin-top: 30px;
}
/*==============================*/

/* Content Page */
.content-section {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.content-section .text {
  display: inline-block;
  color: var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .content-section {
  left: 250px;
  width: calc(100% - 250px);
}

.content-section h1 {
  font-size: 30px;
  color: black;
}

.content-section h3 {
  font-size: 30px;
  color: gray;
}

.content-section h6 {
  font-size: 15px;
  color: gray;
}
.content-section a:link {
  color: white;
  text-decoration: none;
}

.content-section a:visited {
  color: gray;
  text-decoration: none;
}

.content-section a:hover {
  color: #0067ac;
  text-decoration: none;
}

.content-section #white-text-button {
  color: white;
}
/* ================= Modals ================== */

.modal-card {
  opacity: 0.9;
  padding: 10px 10px 10px 10px;
  position: relative;
  background-color: white;
  right: 0%;
  margin: 10px;
  list-style: none;
  box-shadow: 0 0 1px 2px;
  overflow: hidden;
  border-radius: 1px;
  vertical-align: middle;
}

.modal-card i {
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 2%;
  border-radius: 50%;
  color: black;
  background: gray;
}

.modal-text {
  padding-top: 2%;
  width: 50px;
  color: rgb(39, 39, 39);
  display: inline;
}

.modal-text span {
  color: black;
}
