@import "toggle_button.css";

:root {
  --color-default: #03045e;
  --color-dark: #02033e;
  --color-second: #0067ac;
  --color-white: #ffffff;
  --color-body: #e4e9f7;
  --color-light: #caf0f8;
}

body {
  background-image: radial-gradient(
    circle,
    hsl(220, 57%, 91%),
    hsl(220, 55%, 96%)
  );
  padding: 1rem;
  height: 100vh;
  min-height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: "Lato", sans-serif;
  color: var(--color-dark);
}

/* === News Page CSS ===*/
.news-title {
  text-align: center;
}

#news-card {
  padding: 0em 1em;
  margin: 1em 0em;
  display: flex;
}
#news-card-img-div {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  padding: 0.5em 1em;
}
#news-card-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 40px;
}
@media (min-width: 576px) {
  #news-card,
  .card-section {
    max-width: 900px;
    left: 0%;
  }
  .card-section {
    margin: auto;
  }
  /* ========================*/
}
h3 {
  margin-top: 15px;
}
#toggle_notification {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 5px 13px;
}

#hide-transaction-div {
  display: flex;
  justify-content: right;
}

#create-transaction-div {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}
/* tree view */
ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
/*============================================================*/
/* Cards */
.card {
  top: 10%;
  text-align: center;
  opacity: 0.9;
  height: auto;
  width: 70%;
  margin: auto;
  padding: 40px 40px;
  position: relative;
}

.card h1 {
  text-align: center;
  font-size: 38px;
  padding: 10px 25px;
}

.card p {
  width: 70%;
  height: 50%;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  padding: 10px 25px;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 900;
  margin: auto;
}

/*============================================================*/
/* After Authentication Card */
.main-card {
  /* text-align: center; */
  opacity: 0.9;
  height: auto;
  padding: 40px 40px;
  position: relative;
  background-color: white;
  right: 0%;
}

.main-card h1 {
  text-align: left;
  font-size: 38px;
  padding: 10px 25px;
}

.main-card form {
  padding: 40px 40px;
  width: 75%;
}

/*Navbar*/
#navbar-user-first-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bell,
.bi-person-circle {
  color: var(--color-dark);
}
.bg-danger {
  width: 0.5px;
  height: 0.5px;
}
/*================================================*/

/* SideBar */

.sidebar {
  width: 78px;
  padding: 6px 13px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  margin: auto;
  left: 0;
}

.sidebar.open {
  width: 250px;
}

.sidebar .menu_opener {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .menu_opener #btn {
  color: white;
  position: absolute;
  top: 50%;
  right: 0;
  padding-left: 30px;
  transform: translateY(-50%);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .menu_opener #btn {
  text-align: right;
}

.sidebar i {
  color: var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: left;
}

.sidebar .nav-list {
  margin-top: 25px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all 0.5s ease;
  z-index: 12;
}

.sidebar li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after {
  transform: scaleX(1);
  color: var(--color-default);
}

.sidebar li a .link_name {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: var(--color-default);
}

.sidebar.open li a .link_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  border-radius: 5px;
}

.btn,
.btn-info {
  background-color: var(--color-default);
  color: #ffffff;
  border: none;
  box-shadow: 2px 2px 5px rgba(32, 78, 119, 0.899);
}
/*============================================================*/

/* Spending Category*/
#spending-categories-detail-div,
#total-transaction,
.transaction_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#category-name-tag {
  float: left;
}

.category_list {
  margin-top: 5px;
}
/*================================*/

/*Reports*/
#bar-chart-container {
  margin-top: 30px;
}
/*==============================*/

/* Content Page */
.content-section {
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.content-section .text {
  display: inline-block;
  color: var(--color-default);
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open ~ .content-section {
  left: 250px;
  width: calc(100% - 250px);
}

.content-section h1 {
  font-size: 30px;
}

.content-section h6 {
  font-size: 15px;
  color: gray;
}
.content-section a:link {
  color: black;
  text-decoration: none;
}

.content-section a:visited {
  color: black;
  text-decoration: none;
}

.content-section a:hover {
  color: #0067ac;
  text-decoration: none;
}
