@import "toggle_button.css";

body {
  background-image: radial-gradient(
    circle,
    hsl(220, 57%, 91%),
    hsl(220, 55%, 96%)
  );
  padding: 1rem;
}
/* === New Page CSS ===*/
#news-card {
  padding: 0em 1em;
  margin: 1em 0em;
  display: flex;
}
#news-card-img-div {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  padding: 0.5em 1em;
}
#news-card-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 40px;
}
@media (min-width: 576px) {
  #news-card,
  .card-section {
    max-width: 900px;
  }
  .card-section {
    margin: auto;
  }
  /* ========================*/
}
h3 {
  margin-top: 15px;
}
#toggle_notification {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  padding: 5px 13px;
}

#hide-transaction-div {
  display: flex;
  justify-content: right;
}

/* tree view */
ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}
/* *{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}


header {
  background: url(/static/images/bkg3.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.welcome_text {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome_text h1 {
  text-align: center;
  color: aliceblue;
  text-transform: uppercase;
  font-size: 38px;
}

.welcome_paragraph {
  border: 1px solid whitesmoke;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: white;
  font-weight: 900;
}

/*resposive*/
/*
@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
  .logo {
    float: none;
    width: 20%;
    text-align: center;
    margin: auto;
  }

  .nav_area {
    float: none;
    margin-top: 0;
  }

  .nav_area li a {
    padding: 5px;
    font-size: 11px;
  }

  .nav_area {
    text-align: center;
  }

  .welcome_text h1 {
    font-size: 30px;
  }
} */
