.toggle_button {
  margin: 12px;
  height: 30px;
  width: 40px;
  border-radius: 50px;
  background: #333;
  justify-content: center;
  align-items: center;
  box-shadow: -2px -2px 5px #444, 3px 3px 8px #222, inset 3px 3px 7px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.toggle_button:hover {
  box-shadow: -3px -3px 7px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

#toggle_anchor {
  text-decoration: none;
  color: grey;
}
#toggle_anchor:hover {
  color: white;
}
