{% extends 'base_content.html' %}
{% load custom_tags %}
{% block content %}

<h1> CATEGORIES </h1>
<div>
  {% for category in categories %}
  <li class="category_list"> 
    <span><b>{{ category.name }} </b></span><br>
   Limit&#58; &#163;<i>{{ category.limit }}</i>
    <span>
      <a href="{% url 'add_transaction' category.id %}"> Add transaction </a>
    </span>
  <hr>
  </li>
  {% with transactions=category|get_transactions %}
    {% for transaction in transactions %}
    <li class="transaction_list">{{transaction.title}} &#187;&#187;&#187; <span> &#45; &#163;{{transaction.amount}} </span></li>
    {% endfor %}
    <div> Total transactions &#58; &#163; {{transactions|get_transaction_total}}</div>
  {% endwith %}
  <li><hr></li>
  {% endfor %}
</div>

{% endblock %}