{% extends 'base_content.html' %}
{% load custom_tags %}
{% block content %}




<div class="card">
  <h1> Categories </h1>
<div>
  {% for category in categories %}
  <li> 
    <span><b>{{ category.name }} </b></span><br>
   Limit&#58; &#163;<i>{{ category.limit }}</i>
  <hr>
  </li>
  {% with transactions=category|get_transactions %}
    {% for transaction in transactions %}
    <li>{{transaction.description}} &#187;&#187;&#187; <span> &#45; &#163;{{transaction.amount}} </span></li>
    {% endfor %}
    <div> Total transactions &#58; &#163; {{transactions|get_transaction_total}}</div>
  {% endwith %}
  <li><hr></li>
  {% endfor %}
</div>

</div>

{% endblock %}