{% extends "base_content.html" %}

{% block content %}
<section class="content-section">
    <h1>Change password</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
            <li class="breadcrumb-item"> <a href="{% url 'user_profile' %}">Profile</a></li>
            <li class="breadcrumb-item"> <a>Change Password</a></li>
        </ol>
    </nav>
<div class="container">
    <div class="row">
      <div class="col-12">
        <form  method="post">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Update password" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}