{% extends 'base_content.html' %}
{% block content %}


<div class="card">
    <div class="text-center">
        <h1>Getting in touch with VMT</h1>
    </div>
    
    <p>
    	<h4>Enquiries</h4>
    	Visit the VMT Online Help Desk for any queries you may have. For communication by phone, please call 0123 456 7890. Lines are open Monday-Friday 08:00-20:00 and Saturday-Sunday 09:00-18:00. For communication by email, please contact enquiries@vmt.org
    </p>
    <p>
    	<h4>Technical Support</h4>
    	Visit the VMT Help Desk for any technical challenges you may encounter. For profile challenges only, please send an email to profile.query@vmt.org. For all other challenges, please call 0987 654 3210 or send an email to technicalqueries.general@vmt.org. Lines are open Monday-Friday 08:00-20:00 and Saturday-Sunday 09:00-18:00. 
    </p>
    
    <p>
    	Find all the information you need about your VMT account here.
    </p>
</div>

{% endblock %}
