<!-- <div class="row">
                <div class="col-lg-12 col-md-2 col-xl-8">
                    <div class="row justify-content-md-center">
                        <div class="col-md-12">
                            <div class="card">
                                <h1>
                                Welcome back {{ user.first_name }}
                            </h1>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="card">
                                <h1>Current Streak:</h1>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <h1>Current Streak:</h1>
                            </div>
                        </div>

                    </div>
                    
                    <div class="row-md-2">
                        <div class="card">
                            <div id="bar-chart-container">
                                <canvas id="monthly-chart"> </canvas>
                            </div>   
                        </div>                     
                    </div>
                </div>
        
                
                <div class="col-lg-2 col-md-2 col-xl-4">
                    <div class="row">
                        <div class="card">
                            <h3 >News</h3>
                            {% for article in articles %}
                            <div class="card">
                              <div id="news-card-body-div" class="card-body">
                                <h7 class="card-title">{{ article|get_article_dict_element:"title" }} </h7>
                                <a href="{{ article|get_article_dict_element:'url' }}" target="_blank" class="btn btn-info" style="margin: 10px;">View article</a>
                              </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div> -->