
{% extends 'base_content.html' %}
{% block content %}

{{ form.media }}
<section class="content-section">
    <h1>Create a Category</h1>
    <h6> <a href="{% url 'feed' %}">Home</a> / <a href="{% url 'spending' %}">Spending</a> / Create Category<h6>
    <div class="main-card">
        <form action="{% url 'create_category' %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Create Category" class="btn btn-info">
        </form>
    </div>
</section>

{% endblock %}
