
{% extends 'base_content.html' %}
{% block content %}

{{ form.media }}
<section class="content-section">
    <div>
        <h1>Create Category</h1>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
            <li class="breadcrumb-item active"> <a href="{% url 'spending' %}">Spending</a></li>
            <li class="breadcrumb-item"> <a>Create Category</a></li>
        </ol>
    </nav>
    <div class="main-card">
        <form action="{% url 'create_category' %}" method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Create Category" class="btn btn-info">
        </form>
    </div>
</section>

{% endblock %}
