{% extends 'base_content.html' %}

{% block content %}

<div class="container vh-100">
  <div class="row h-100">
      <div class="col-12 my-auto">
          <div class="cover-card">
              <h1>Create Category</h1>
              <form action="{% url 'create_category' %}" method="post">
                  {% csrf_token %}
                  {% include 'partials/bootstrap_form.html' with form=form %}
              <input type="submit" value="Create category" class="btn btn-100">
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}