{% extends 'base_content.html' %}
{% load custom_tags %}
{% load humanize %}
{% block content %}

<section class="content-section">
    <div>
    <h1>Spending</h1>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
            <li class="breadcrumb-item active"> <a href="{% url 'spending' %}">Spending</a></li>
            <li class="breadcrumb-item"> <a">Edit Category</a></li>
        </ol>
    </nav>

    {{ form.media }}
    <div class="card">
        <h1>Edit Category</h1>
        <div class="card-body">
            <div class="col-sm-12 col-md-6 offset-md-3">
                <div class="card-text text-start">
                    <form action="{% url 'edit_spending_category' object.id %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bootstrap_form.html' with form=form %}
                        <input type="submit" value="Save" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}