{% extends 'base_content.html' %}
{% load custom_tags %}
{% block content %}


<section class="content-section">
    <div>{%include 'partials/messages.html' %}</div>
    <div >
    <div class="feed-header">
        <div>
            <h1>Dashboard</h1>
            {{ form.media }}
            <div class="quick-add">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#quick-add-detail-modal" data-bs-toggle="tooltip" title="Add transaction">Quick Add</button>

                </div>
            </div>
            
        </div>
        
        <div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
                    <li class="breadcrumb-item"> <a>Dashboard</a></li>
                </ol>
            </nav>
        </div>

        
    </div>
        <section class="section dashboard">
            <div class="main-cards">
                
                <div class="card card-box-shadow">
                    <div class="card-inner">
                        <p class="text-primary"> Points </p>
                        <span class="pic"></span>
                    </div>
                    <span class="text-primary font-weight-bold">{{ user_points }}</span>
                </div>

                <div class="card card-box-shadow">
                    <div class="card-inner">
                        <p class="text-primary"> Total Spent </p>
                        <span class="pic"></span>
                    </div>
                    <span class="text-primary font-weight-bold">&#163;{{total_spending}}</span>
                </div>

                <div class="card card-box-shadow">
                    <div class="card-inner">
                        <p class="text-primary"> Budget Remaining </p>
                        <span class="pic"></span>
                    </div>
                    <span class="text-primary font-weight-bold">&#163;{{remaining_budget}}</span>
                </div>

                <div class="card card-box-shadow">
                    <div class="card-inner">
                        <p class="text-primary"> Total categories within limit </p>
                        <span class="pic"></span>
                    </div>
                    <span class="text-primary font-weight-bold">{{categories_within_limit}}</span>
                </div>
            </div>
            


            <div class="row">
                <div class="col-md-8">
                    <!--Hidden tags :: for pie chart-->
                    {%for category in income_categories%}
                    <div class="income-category-hidden" hidden>
                    <span >{{category.name}} </span>
                    <span >{{category.total}} </span>
                    </div>
                    {% endfor %}
                    <!--End hidden tags-->

                        <!-- Pie chart -->       
                    <div class="income-chart-div">
                    
                        <span class="feed-report-card">
                            <!-- Total income card  -->
                            <div class="col-xxl-4 col-xl-12"> 

                                <div class="card info-card total-income-card">
                                <div class="card-body">
                                    <h5 class="card-title">Total Income</b></h5>
                        
                                    <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class='bx bx-trending-up bx bx-md'></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>&#163; {{total_income}}</h6>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- End total income card  -->
                        </span>
                    <canvas id="income-chart"> </canvas>
                    </div>   
                    <!-- End pie chart -->
                </div>
                <div class="col-md-4">
                    <div class="card" id="news-main-card">
                        <h3 >News</h3>
                        {% for article in articles %}
                        <div class="card card-box-shadow">
                            <div id="news-card-body-div" class="card-body">
                                <h7 class="card-title">{{ article|get_article_dict_element:"title" }} </h7>
                            </div>

                            <div>
                                <a href="{{ article|get_article_dict_element:'url' }}" target="_blank" class="btn btn-info" style="margin: 10px;">View article</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            

            
           
        </section>

</section>

<div class="modal" id="quick-add-detail-modal" tabindex="-1" aria-labelledby="quick-add-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="quick-add-modal-label" >Quick Add Transaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" >
                {% csrf_token %}
                <input type="hidden" name="feed" value="{{ next }}">
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="             Quick Add           " class="btn btn-info">
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}