{% extends 'base_content.html' %}
{% load custom_tags %}
{% block content %}


<section class="content-section">
    <div>
        <h1>Dashboard</h1>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
            <li class="breadcrumb-item"> <a>Dashboard</a></li>
        </ol>
    </nav>
 
        <section class="section dashboard">
            <div class="welcome-card">
                Welcome back {user}
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="main-card">
                            <div id="bar-chart-container">
                                <canvas id="monthly-chart"> </canvas>
                            </div>   
                        </div>                     
                    </div>
                </div>
        
                
                <div class="col-lg-3">
                    <div class="row">
                        <div class="card">
                            <h3 >News</h3>
                            {% for article in articles %}
                            <div id="news-card" class="modal-card">
                              <div id="news-card-body-div" class="card-body">
                                <h7 class="card-title">{{ article|get_article_dict_element:"title" }} </h7>
                                <a href="{{ article|get_article_dict_element:'url' }}" target="_blank" class="btn btn-info" style="margin: 10px;">View article</a>
                              </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
           
        </section>

</section>
{% endblock %}