{% extends 'base_content.html' %}

{% block title %} Forgot your Password {% endblock %}

{% block content %}
<header id="home-page">
    <div class="header-content">
        <h1>Forgot Your Password?</h1>
        <div class="line"></div>
          <h3>Enter your email below to reset your password</h3> 
          <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send me instructions!">
        </form>
    </div>
</header>
{% endblock %}

