{% extends 'base_content.html' %}
{% block content %}

<section class="content-section">
<div class="card">
    <div class="text-center">
        <p class="profile-statistics">
        <br>
        <br>
        <br>
        <br>
            {{user.followee_count}} Following &emsp;
            {{user.follower_count}} Followers
        </p>
        <h1>Your Friends</h1>
    </div>
	<div style="text-align: center;">
		<p>
			<form action ="." method ="GET" value ="{{request.GET.q}}"><input type ="text" name ="q" value ="{{request.GET.q}}" placeholder="Search users..."/>
			<input type ="submit" class="btn btn-secondary" name="submit" value="Search"/>
			</form>
			
			{% if submitbutton == 'Search' and request.GET.q != "" %}
			{% if results %}
			<h1> Here are the users for <b>{{request.GET.q}}</b></h1>
			<br/><br/>

			{% for r in results %}

				<form action = "{% url 'follow_toggle' id=r.id %}" method="get">
					<h10>{{r}}<h10>
					<button class="btn btn-secondary" style="margin-left: 20px;">Add</button>
					<button class="btn btn-secondary" style="margin-left: 20px;" href="friends_profile/{{r.id}}">View Profile</button><br>
				</form>
			<a>--------------------------------------------------------------------------</a>
			{% endfor %}
			{% else %}
			No user found
			{% endif %}
			{% endif %}    	
		</p>

	</div>
</div>
</section>

{% endblock %}
