{% extends 'search_friends.html' %}
{% block content %} 

<section class="content-section">
     <h1> Profile</h1>
     <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
              <li class="breadcrumb-item"> <a href="{% url 'search_friends' %}">Search Friends</a></li>
              <li class="breadcrumb-item"> <a>Friend's Profile</a></li>
          </ol>
      </nav>
     <div class="card">
       
       <h1>{{results.first_name}} {{results.last_name}} </h1>
       <br>

       
       <div class="profile-statistics" style="margin-left: 20px;">
            <h5>Following:</h5> {{results.followee_count}} &emsp;
            <br><br>
            <h5>Followers:</h5> {{results.follower_count}} &emsp;
            <br><br>
            <h5>Points:</h5> {{results.points}} &emsp;
            <br><br>
       </div>

       
          <button class="btn btn-primary" onclick="javascript:history.back()" style="text-align: center; padding: auto; margin-bottom: 20px;"><a>Back</a></button>
           
     </div>
</section>
{% endblock content %}
