{% include 'base_content.html' %}
{% block body %}
<div id="cover-image"> 
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-12 my-auto" id="outer_card">
                <div class="card">
                    <div class="text-center">
                        <h1>Welcome to VMT</h1>
                    </div>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, voluptatibus ducimus voluptate officiis fugit dolore sapiente numquam enim modi dolorem! Fugit necessitatibus quaerat ullam non sint in dignissimos reprehenderit recusandae.</p>
                    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus eum sapiente itaque quod et recusandae animi temporibus explicabo commodi, laudantium vitae cum placeat adipisci perspiciatis eius laboriosam ipsam vel aliquam.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}