{% extends 'base_content.html' %}
{% load static %}
{% block content %}


<section class="content-section">
    <div>
        <h1>Leaderboard</h1>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
            <li class="breadcrumb-item"> <a>Leaderboard</a></li>
        </ol>
    </nav>
    <div class="main-card">
        <p class="alert alert-success">
            <!-- Position Display -->
            {% if user_place == user_overall_place %}
                Your Current Position: #{{ user_place }}
            {% else %}
                You are #{{ user_place }} place in {{ request.user.league_status }} league 
                and #{{ user_overall_place }} overall
            {% endif %}
        </p>
        <!-- League Display -->
        <h2 class="league-title"> {{ request.user.league_status }} League</h2>

        <div class="table-responsive">
            <table class="table">
                
                <tbody> 
                    
                     
                </tbody>
            </table>
        </div>
    </div>
    <!-- Joel's version --> 
    <section class="leaderboard-section">
		<div class="container">

			<div class="row">
				<div class="col-sm-4" >
					<div class="card card-second">
                        <div class="card-top">
						</div>
						<div class="card-body ">
							<div class="text-center">
								<img src="/static/images/second.png" class="circle-img mb-2" alt="">
                                <h3 class="text-center">-   {{ second_place.points }}  -</h3>
								<h5 class="mb-0">{{ second_place.first_name }} {{ second_place.last_name }}</h5>
							</div>
						</div>
					</div>
				</div>
                
				<div class="col-sm-4" >
					<div class="card card-first">
                        <div class="card-top">
						</div>
						<div class="card-body text-center">
							<div class="text-center">
                                <img src="/static/images/first.png" class="circle-img mb-2" alt="">
							    
                                <h3 class="text-center">-   {{ first_place.points }}   -</h3>
								<h5 class="mb-0"> {{ first_place.first_name }} {{ first_place.last_name }}</h5>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-4" >
					<div class="card card-third">
                        <div class="card-top">
						</div>
						<div class="card-body">
							<div class="text-center">
                                <img src="/static/images/third.png" class="circle-img mb-2" alt="">
                                <h3 class="text-center">-   {{ third_place.points }}   -</h3>
								<h5 class="mb-0">{{ third_place.first_name }} {{ third_place.last_name }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

            <br><br>
            <div class="card top-200-card" style="padding: 20px;">
                <h4>Top 200</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="color: white; font-size: 23px;">Position</th>
                            <th style="color: white; font-size: 23px">User</th>
                            <th style="color: white; font-size: 23px">Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="{% if request.user == user %}alert-success{% endif %}">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="user-position">
                                            <h5 class="mb-0">{{ forloop.counter }}.</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="user-info__basic">
                                            <h5 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h5>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-baseline">
                                        <h4 class="mr-1">{{ user.points }}</h4>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if user_place > num_top_users %}
                        <tr class="{% if request.user == user %}alert-success{% endif %}">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="user-position">
                                        <h5 class="mb-0">{{ user_place }}.</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="user-info__basic">
                                        <h5 class="mb-0">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-baseline">
                                    <h4 class="mr-1">{{ request.user.points }}</h4>
                                </div>
                            </td>
                        </tr>
                        {% endif %} 


                        
                    </tbody>
                </table>
            </div>
		</div>
	</section>
</section>

{% endblock %}
