
{% extends 'base.html' %}
{% block body %}
{% include 'partials/home_form_menu.html' %}
<section class="signing">
    <div class="container">
      <div> {% include 'partials/messages.html' %} </div>
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <div class="card">
              <div class="card-body">
            
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2>Login</h2>
                <div class="line"></div>
                <form action="{% url 'log_in' %}" method="post" >
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ next }}">
                  {% include 'partials/bootstrap_form.html' with form=form %}
                  <input type="submit" value="Login" class="btn btn-info">
                </form>
                  
            
                </div>
            
                <div>
                  <p class="mb-0">Don't have an account? <a href="{% url 'sign_up' %}">Get Started</a>
                  </p>
                </div>
            
              </div>
            </div>
  
          </div>
      </div>
    </div>
  </section>
    
{% endblock %}

