{% extends 'base_content.html' %}
{% block content %}

<section class="content-section">
  <h1>Notification</h1>
  <h6> <a href="{% url 'feed' %}">Home</a> / Notification<h6>
  <div class="main-card">
    <div>
      {% for notification in notifications%}
      <li> 
        <span><b>{{ notification.title }} </b></span><br>
        <i>{{ notification.message }}</i> <br>
        <span>{{ notification.time_created }}</span>
        <span>{{ notification.date_created }}</span>
        <span>{{ notification.status }}</span>
        <li><hr ></li>
      </li>
      {% endfor %}
    </div>
  </div>
</section>



{% endblock %}