{% extends 'base_content.html' %}
{% block content %}
{% load humanize %}
<section class="content-section">
  <div>
    <h1>Notification</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a> All Notifications</a></li>
      </ol>
  </nav>

  <div class="main-card">
      {% for notification in notifications%}
      <a id="notification-card-anchor" href="{% url 'view_selected_notification' notification.id %}">
        <div class="notification-card"> 
          <span><b>{{ notification.title }} </b></span><br>
          <i>{{ notification.message }}</i> <br>
          <span class="text-muted">{{ notification.created|naturaltime}}</span>
          <span class="text-muted">{{ notification.status }}</span>
        </div>
      </a>
      {% endfor %}
  </div>
</section>

{% endblock %}