{% extends 'base_content.html' %}

{% block title %} Provide your new password {% endblock %}

{% block content %}
<header id="home-page">
    <div class="header-content">
        <h1>Let's change your password</h1>
        <div class="line"></div>
          <h3>Enter your email below</h3> 
          <form method="POST">
            <form method="POST">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Send" class="btn btn-info">
        </form>
    </div>
</header>
{% endblock %}