
{% extends 'base.html' %}
{% block body %}
{% include 'partials/home_form_menu.html' %}
<header id="home-page">
    <div class="header-content">
        <h1>Let's change your password</h1>
        <div class="line"></div>
          <h3>Enter your email below</h3> 
          <form method="POST">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <input type="submit" value="Send" class="btn btn-info">
        </form>
    </div>
</header>
{% endblock %}