{% extends 'base_content.html' %}

{% block title %} Provide your new password {% endblock %}

{% block content %}
<header id="home-page">
  <div class="header-content">
    <h1>Let's change your password</h1>
    <div class="line"></div>
    <h3>Your password reset link has been sent!</h3>
    <p>
      Please check your email for further instructions for resetting your
      password.
    </p>
    <p>
      If there is a user associated with this email address, you should receive
      it shortly.
    </p>
    <p>
      In the case you don't, please make sure the email address you put in is
      the same one you used to register your account and check your spam folder.
    </p>
  </div>
</header>
{% endblock %}
