
{% extends 'base_content.html' %}
{% block content %}


<section class="content-section">
    <div>
        <h1>Profile</h1>
      </div>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
              <li class="breadcrumb-item"> <a">Profile</a></li>
          </ol>
      </nav>
    <div class="main-card">
        <p class="card-text text-start">
            <br>
            Name: {{ user.first_name }} {{ user.last_name }} <br><br>
            Username: {{ user.username }}<br><br>
            Email: {{ user.email }} <br><br>

        </p>
        
    </div>
</section>

{% endblock %}
