{% extends 'base_content.html' %}

{% block content %}

{{ form.media }}

<section class="content-section">
  <div>
    <h1>Dashboard</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a>Reports</a></li>
      </ol>
  </nav>
  <div class="main-card">
    <form action="" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input id="get-report-btn" type="submit" value="Get report" class="btn btn-primary btn-100">
    </form>
    {% for transaction in transactions %}
      <li>{{transaction.month}} &#187;&#187;&#187; <span> &#163;{{transaction.total}} </span></li>
    {% endfor %}

    {% for list_of_categories in close_categories %}
      {% if forloop.first %}
        <h3>Categories past the limit on average</h3>
      {% else %}
        <h3>Categories close to the limit on average</h3>
      {% endif %}
      <ul>
        {% for category in list_of_categories %}
          <li>{{category.name}} &#187;&#187;&#187; <span> &#163;{{category.total}} </span></li>
        {% empty %}
          <li>There are no such categories!</li>
        {% endfor %}
      </ul>
    {% endfor %}
    {% if largest_category %}
        <h3>The category with the largest total spending</h3>
        <p>{{largest_category.name}} &#187;&#187;&#187; <span> &#163;{{largest_category.total}} </span></p>
    {% endif %}
    
    <h3>Categories</h3>
    {% regroup list_of_categories_and_transactions by spending_category as category_list %}
    {% for category in category_list %}
      <details>
        <summary>{{ category.grouper }}</summary>
        {% for transaction in category.list %}
          <p><a href="{{transaction.get_absolute_url}}">{{ transaction }}</a></p>
        {% endfor %}
      </details>
      {% empty %}
        <p>There are no transactions in this period of time.</p>
    {% endfor %}
  </div>
</section>

{% endblock %}