{% extends 'base_content.html' %}

{% block content %}

{{ form.media }}

<section class="content-section">
  <h1>Reports</h1>
  <h6> <a href="{% url 'feed' %}">Home</a> / Reports<h6>
  <div class="main-card">
    <form action="" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input id="get-report-btn" type="submit" value="Get report" class="btn btn-primary btn-100">
    </form>
    {% for transaction in transactions %}
      <li>{{transaction.month}} &#187;&#187;&#187; <span> &#45; &#163;{{transaction.total}} </span></li>
    {% endfor %}
  </div>
</section>

{% endblock %}