{% extends 'base_content.html' %}
{% block content %}


<div class="card">
    <div class="text-center">
        <h1>Reports</h1>
    </div>
    <h6>Date</h6>
    <div class="row mb-3">
        <label for="inputDate" class="col-sm-2 col-form-label">Date Start</label>
        <div class="col-sm-10">
          <input type="date" class="form-control">
        </div>
    <div class="row mb-3">
            <label for="inputDate" class="col-sm-2 col-form-label">Date End</label>
            <div class="col-sm-10">
              <input type="date" class="form-control">
            </div>


</div>


{% endblock %}
