{% extends 'base_content.html' %}

{% block content %}

{{ form.media }}

<section class="content-section main-section">
  <div>
    <h1>Reports</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a>Reports</a></li>
      </ol>
  </nav>
    <form id="report-form" action="" method="post">
      {% csrf_token %}
      {% include 'partials/bootstrap_form.html' with form=form %}
      <input id="get-report-btn" type="submit" value="Get report" class="btn btn-primary btn-100">
    </form>
       
 <section class="report ">
    <!-- largest spending category card -->
    <div class="col-xxl-4 col-xl-12">

      <div class="card info-card largest-category-card">
        <div class="card-body">
          <h5 class="card-title">Category with the largest total spending </h5>

          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fa-regular fa-group-arrows-rotate fa-2x"></i>
            </div>
            {% if largest_category %}
            <div class="ps-3">

              <h6>&#163; {{largest_category.total}}</h6>
              <span class="text-muted small pt-2 ps-1">Category </span> <span class="text-success small pt-1 fw-bold">{{largest_category.name}}</span>

            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- End largest spending category card -->

     <!-- over and close to limit category card -->
     {% for list_of_categories in close_categories %}
     {% if forloop.first %}
     <div class="col-xxl-4 col-xl-12">

      <div class="card info-card over-limit-category-card">
        <div class="card-body">
          <h5 class="card-title"> Categories past the limit </h5>
      {% else %}
      <div class="col-xxl-4 col-xl-12">

        <div class="card info-card close-limit-category-card">
          <div class="card-body">
            <h5 class="card-title"> Categories close to the limit </h5>

      {% endif %}
          <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
              <i class="fa-regular fa-group-arrows-rotate fa-2x"></i>
            </div>
            {% for category in list_of_categories %}
            <div class="ps-3">

              <h6>&#163; {{largest_category.total}}</h6>
              <span class="text-muted small pt-2 ps-1">Category </span> <span class="text-success small pt-1 fw-bold">{{largest_category.name}}</span>
              {% empty %}
              <h6> There are no such categories!</h6>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    <!-- End over and close to limit category card -->

 </section>

 <!-- chart -->       
 <div id="bar-chart-container">
  <canvas id="monthly-chart"> </canvas>
</div>   
 <!-- End chart -->  

<!-- hidden:: used to generate chart -->
    {% for transaction in transactions %}
      <ul class="total-transaction-by-month" hidden>
      <li>{{transaction.month}}</li>
      <li > {{transaction.total}}</li>
      </ul>
      {% endfor %}

    <div class="categories-by-month">
    <h3>Categories</h3>
    {% regroup list_of_categories_and_transactions by spending_category as category_list %}
    {% for category in category_list %}
      <details>
        <summary>{{ category.grouper }}</summary>
        {% for transaction in category.list %}
          <p><a style="color: black" href="{{transaction.get_absolute_url}}">{{ transaction }}</a></p>
        {% endfor %}
      </details>
      {% empty %}
        <p>There are no transactions in this period of time.</p>
    {% endfor %}
  </div>
</section>

{% endblock %}