{% extends 'base_content.html' %}
{% block content %}


<section class="content-section">
	<nav>
		<ol class="breadcrumb">
				<li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
				<li class="breadcrumb-item"> <a">Search friends</a></li>
		</ol>
	</nav>

	<div class="card">

<div class="main-card">
	<ul>
		<h4> My Friends</h4>
        {% for follow in following %}
	    <li class="d-flex justify-content-between align-items-center friend-search-list card-box-shadow">
				<a href="{% url 'friends_profile' follow.id%}" class="anchor-unhide">{{follow.first_name}} {{follow.last_name}}</a>
				
			</li>
			{% empty %}
			No follower(s) found
		 {% endfor %}
	 </ul> 
</div>

<div class="main-card">
	<ul>
		{% for result in search_results %}
	    <li class="d-flex justify-content-between align-items-center friend-search-list card-box-shadow">
				<i class='bx bx-user-circle bx-sm'></i>
				<a class="anchor-unhide" href="{% url 'friends_profile' result.id%}">{{ result.first_name }} {{ result.last_name }}</a> 
				
	        
	        {% if request.session.is_following %} 	
					<a href="{%url 'follow_toggle' result.id%}" class="btn btn-info"> Remove </a>
					{% else %}
					<a href="{%url 'follow_toggle' result.id%}" class="btn btn-info"> Add </a>
					{% endif %}
					
		</li>
		{% empty %}
			No user(s) found
		 {% endfor %}
			
	 </ul> 

</section>

{% endblock %}