{% extends 'base_content.html' %}

{% block content %}

<h1> Settings </h1>

<section>
  <h3>Notification setting</h3>
  <div id="toggle_notification">
    Toggle Notification
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>
  </div>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex, amet laborum dolor doloremque eum animi numquam repellat quas veritatis qui, sequi perspiciatis cupiditate aperiam. Reiciendis deserunt eaque nobis repellat.</p>
</section>

{% endblock %}