{% extends 'base_content.html' %}

{% block content %}



<section class="content-section">
  <div>
    <h1>Settings</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a">Settings</a></li>
      </ol>
  </nav>
  <div class="main-card">
    <h3 id="notification-settings">Notification Settings</h3>
    <div id="toggle_notification">
      Toggle Notification
       <button class="btn btn-primary"><a id="toggle_anchor" href="{% url 'toggle_notification' %}"> {{ toggle }} </a> </button> 
    </div>
      
  </div>

  
      
  </div>
</section>

{% endblock %}