{% extends 'base_content.html' %}
{% load custom_tags %}
{% load humanize %}
{% block content %}

<section class="content-section">
  <div>
    <h1>Spending</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a">Spending</a></li>
      </ol>
  </nav>
  <div id="create-transaction-div">
    <a class="btn btn-info" href="{% url 'create_category'%}">Create new category</a>
  </div>
  <div class="main-card">
  {% for category in categories %}
    <div >
      <ul id="myUL">
        <li class="category_list"> 
      
          <span id="category-name-tag" class="caret"><b>{{ category.name }} </b></span><br>
        
          <div id="spending-categories-detail-div">
          <div>
          Limit&#58; &#163;<i>{{ category.limit.limit_amount|intcomma }}</i>
        </div>
          <span>
            <a class="btn btn-info" href="{% url 'add_spending_transaction' category.id %}"> Add transaction </a>
            <a class="btn btn-info" href="{% url 'edit_spending_category' category.id %}"> ✏️ </a>
          </span>
          </div>
          <hr>
          <ul class="nested">
            {% with transactions=category|get_spending_transactions %}
            {% for transaction in transactions %}
            <li class="transaction_list">
              <div>{{transaction.date}}</div>
              <div>{{transaction.title}}</div>
              <div>&#163;{{transaction.amount|intcomma}}</div> 
            </li>
            {% endfor %}
            <hr>
            <div id="total-transaction">
               <div>Total transactions</div> 
               <div>&#163;{{transactions|get_transaction_total|intcomma}}</div>
            </div>
            {% endwith %}
            <li><hr></li>
          </ul>
        </li>
      </ul>
    </div>
  {% endfor %} 
  </div>
</div>


</section>

{% endblock %}