{% extends 'base_content.html' %}
{% load custom_tags %}
{% load humanize %}
{% block content %}

<section class="content-section">
  <div>
    <h1>Spending</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a">Spending</a></li>
      </ol>
  </nav>
  <div id="create-transaction-div">
    <a class="btn btn-info" id="create-spending-cat-anch" href="{% url 'create_category'%}">Create new category</a>
  </div>
  <div class="main-card">
  {% for category in categories %}
    <div >
      <ul id="myUL">
        <li class="category_list"> 
          <span id="category-name-tag" class="caret"><b>{{ category.name }} </b></span><br>
          <div id="spending-categories-detail-div">
          <div>
          Limit&#58; &#163;<i>{{ category.limit.limit_amount|intcomma }}</i>
        </div>
        <span>Amount left to spend&#58; &#163;{{ category.limit.remaining_amount|intcomma }}</span>
          <span>
            <a class="btn btn-info" id="white-text-button" href="{% url 'add_spending_transaction' category.id %}"> Add transaction </a>
            <a class="btn btn-info" href="{% url 'edit_spending_category' category.id %}" data-bs-toggle="tooltip" title="Edit category"> ✏️ </a>
            <a class="btn btn-info" href="{% url 'delete_spending_category' category.id %}" data-bs-toggle="tooltip" title="Delete category"> <i class="fa-solid fa-trash-can" style="color: red"></i> </a>
          </span>
          </div>
          <hr>
          <ul class="nested">
            {% with transactions=category|get_spending_transactions %}
            {% for transaction in transactions %}
            <li class="transaction_list" data-bs-toggle="modal" data-bs-target="#transaction-detail-modal">
              <div id="transaction-date">{{transaction.date}}</div>
              <div id="transaction-title">{{transaction.title}} <span style="color: green">{% get_points transaction %} / 5 points</span></div>
              <div id="transaction-amount">&#163;{{transaction.amount|intcomma}}</div> 
              <div id="transaction-category" hidden>{{transaction.spending_category.name}}</div>
              <div id="transaction-notes" hidden>{{transaction.notes}}</div>
              {%if transaction.receipt%}
              <img id="transaction-image" hidden src="{{transaction.receipt.url}}" alt="receipt">
              {%endif%}
              <div id="transaction-created" hidden>{{transaction.created}}</div>
            </li>
            <a class="btn btn-info" href="{% url 'edit_spending' transaction.id %}" data-bs-toggle="tooltip" title="Edit transaction"> ✏️ </a>
            <a class="btn btn-info" href="{% url 'delete_spending' transaction.id %}" onclick="return confirm('Are you sure you want to delete this transaction?')" data-bs-toggle="tooltip" title="Delete transaction"> <i class="fa-solid fa-trash-can" style="color: red"></i> </a>
            {% endfor %}
            <hr>
            <div id="total-transaction">
               <div>Total transactions</div> 
               <div>&#163;{{transactions|get_transaction_total|intcomma}}</div>
            </div>
            {% endwith %}
            <li><hr></li>
          </ul>
        </li>
      </ul>
    </div>
  {% endfor %} 
  </div>
</div>
</section>

<!-- Modal -->
<div class="modal" id="transaction-detail-modal" tabindex="-1" aria-labelledby="transaction-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transaction-modal-label" >Transaction Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-card">
            <i class="fa-regular fa-heading fa-2x"></i> 
          Title:
          <div class="modal-text">
            <span id="transaction-title-modal"></span>
          </div>
        </div>
        
        <div class="modal-card">
          <i class="fa-regular fa-calendar-days fa-2x"></i>
          Date: 
          <div class="modal-text">  
            <span id="transaction-date-modal"></span>
          </div>
        </div>

        <div class="modal-card">
          <i class="fa-regular fa-money-bill fa-2x"></i> 
          Amount:
          <div class="modal-text">
            <span id="transaction-amount-modal"></span>
          </div>
        </div>


        <div class="modal-card">
          <i class="fa-regular fa-group-arrows-rotate fa-2x"></i> 
          Category:
          <div class="modal-text">
            <span id="transaction-category-modal"></span>
          </div>
        </div>

        <div class="modal-card">
          <i class="fa-regular fa-note-sticky fa-2x"></i> 
          Notes:
          <div class="modal-text">
            <span id="transaction-notes-modal"></span>
          </div>
        </div>

        <div class="modal-card">
          <div>
            <i class="fa-regular fa-receipt fa-2x"></i> 
            Receipt
            <img id="transaction-receipt-modal" alt="receipt">
          </div>
        </div>
        <hr>
        <div class="text-muted">
          Created
          <span id="transaction-created-modal"></span>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>
{% endblock %}