{% extends 'base_content.html' %}
{% load custom_tags %}
{% load humanize %}
{% block content %}

<section class="content-section">
  <div>
    <h1>Spending</h1>
  </div>
  <nav>
      <ol class="breadcrumb">
          <li class="breadcrumb-item active"> <a href="{% url 'feed' %}">Home</a></li>
          <li class="breadcrumb-item"> <a">Spending</a></li>
      </ol>
  </nav>
  <div id="create-transaction-div">
    <a class="btn btn-info" href="{% url 'create_category' %}">Create new category</a>
  </div>
  <div class="main-card">
  {% for category in categories %}
    <div >
      <ul id="myUL">
        <li class="category_list"> 
          <span id="category-name-tag" class="caret"><b>{{ category.name }} </b></span><br>
          <div id="spending-categories-detail-div">
          <div>
          Limit&#58; &#163;<i>{{ category.limit.limit_amount|intcomma }}</i>
        </div>
        <span>Amount left to spend&#58; &#163;{{ category.limit.remaining_amount|intcomma }}</span>
          <span>
            <a class="btn btn-info" href="{% url 'add_spending_transaction' category.id %}"> Add transaction </a>
          </span>
          </div>
          <hr>
          <ul class="nested">
            {% with transactions=category|get_spending_transactions %}
            {% for transaction in transactions %}
            <li class="transaction_list" data-bs-toggle="modal" data-bs-target="#transaction-detail-modal">
              <div id="transaction-date">{{transaction.date}}</div>
              <div id="transaction-title">{{transaction.title}}</div>
              <div id="transaction-amount">&#163;{{transaction.amount|intcomma}}</div> 
              <div id="transaction-category" hidden>{{transaction.spending_category.name}}</div>
              <div id="transaction-notes" hidden>{{transaction.notes}}</div>
              <img id="transaction-image" hidden src="{{transaction.receipt}}" alt="watch">
              <div id="transaction-created" hidden>{{transaction.created}}</div>
            </li>
            {% endfor %}
            <hr>
            <div id="total-transaction">
               <div>Total transactions</div> 
               <div>&#163;{{transactions|get_transaction_total|intcomma}}</div>
            </div>
            {% endwith %}
            <li><hr></li>
          </ul>
        </li>
      </ul>
    </div>
  {% endfor %} 
  </div>
</div>
</section>
<!-- Modal -->
<div class="modal fade" id="transaction-detail-modal" tabindex="-1" aria-labelledby="transaction-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transaction-modal-label">Transaction Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <hr>
        <div>
          <i class="fa-regular fa-heading fa-2x"></i> Title
          <span id="transaction-title-modal"></span>
        </div>
        <hr>
        <div >
          <i class="fa-regular fa-calendar-days fa-2x"></i> Date
          <span id="transaction-date-modal"></span>
        </div>
        <hr>
        <div>
          <i class="fa-regular fa-money-bill fa-2x"></i> Amount
          <span id="transaction-amount-modal"></span>
        </div>
        <hr>
        <div>
          <i class="fa-regular fa-group-arrows-rotate fa-2x"></i> Category
          <span id="transaction-category-modal"></span>
        </div>
        <hr>
        <div>
          <i class="fa-regular fa-note-sticky fa-2x"></i> Notes
          <span id="transaction-notes-modal"></span>
        </div>
        <hr>
        <div>
          <i class="fa-regular fa-receipt fa-2x"></i> Receipt
          <span id="transaction-receipt-modal"></span>
        </div>
        <hr>
        <div class="text-muted">
          Created
          <span id="transaction-created-modal"></span>
        </div>
        <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      
      </div>
    </div>
  </div>
</div>


{% endblock %}