<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>date</th>
                <th>amount</th>
                <th>receipt</th>
                <th>category</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    {% if transaction.receipt %}
                        <td><img src="{{ transaction.receipt.url }}" width="100" alt=""></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ transaction.category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>